.review-flex {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    overflow: auto;
    background-image: url('https://d118flx1-5000.uks1.devtunnels.ms/resources/images/backgrounds/review.jpg');
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
    color:white;
    height: 72dvh;
}
