/* styles.css */

.categories-module {
  margin: 20px ;
}

.categories-module h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.categories-module ul {
  list-style-type: none;
  padding: 0;
}

.categories-module li {
  margin: 0 0 5px 20px;
}

.category-link,
.subcategory-link {
  color: #333;
  text-decoration: none;
}

.category-link:hover,
.subcategory-link:hover {
  color: #007bff;
}