
.categories-container {
    margin-right: 4dvw;
    margin-left: 4dvw;
}

.category-heading {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.subcategory-block {
    display: block;
    padding: 10px;
    text-align: center;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 2dvw;
    margin-bottom: 1dvh;
}

  .subcategory-block:last-child {
    margin-right: 0;
  }
  
  .subcategory-block:hover {
    background-color: #f4f4f4;
    color: #555;
  }
  