
.tab-container {
    display: flex;
}

.tab {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
.tab-content {
    display: none;
    padding: 20px;
    background: gray;
    border-top-right-radius: 1em;
    border-bottom-left-radius:1em ;
    border-bottom-right-radius:1em ;
}
.tab.selected {
    background-color: #ccc; /* Change background color for selected tab */
}
.tab-content.active {
    display: block;
}
